/* div.user-select-none.svg-container{
    background-color: #EEEEEE;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
} */


div.css-k7vsyb.e1nzilvr1{
    /* background-color: #EEEEEE; */
    border: 3px solid #DCDCDC;
    border-radius: 10px;
    padding: 1rem;
}